Assets/_Project/Art/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/**/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/**/*.psd filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/**/*.ttf filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/**/*.otf filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Audio/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Audio/**/*.wav filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Audio/**/*.ogg filter=lfs diff=lfs merge=lfs -text
